<!DOCTYPE html>
<html>
	<head>
		<title> nudle - newsfeed </title>
		
		<link rel="icon" href="{{ url_for('static', filename='nudle_logo.gif') }}" />
		
		<link rel="stylesheet" href="{{ url_for('static', filename='Bootstrap.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
		<style type="text/css">
			.login-btn {
				margin-top: 20px;
			}
			#userName {
				margin-top: 20px;
			}
		</style>
	</head>
	<body>

		<div class="navbar navbar-clear navbar-fixed-top">
			<h1 class='col-md-2 col-xs-2'> <a href="/nudle"> nudle </a> </h1>

			{% if resp['acc'] == None %}
				<div class="col-md-1 col-xs-1 pull-right">
					<a href='/nudle/Oauth/join' class="btn btn-default pull-right login-btn" type='button'>login</a>
				</div>
			{% else %}
				<div class="col-md-1 col-xs-1 pull-right">
					<p id='userName'>{{ resp['acc'] }}</p>
					<!--<a href="/nudle/Oauth/drop" class="btn btn-default login-btn" type='button'>logout</a>-->
					<!--<img src="{{ resp['acc'] }}" />-->
				</div>
			{% endif %}
			
			<div class="searchBx col-md-3 col-xs-5">
				<input id='query' type='text' class="form-control" placeholder="n/search" />
			</div>
			
		</div>
		
		<div class='mainContainer'>
			
			<div class="container-fluid">
				<div class="row">
					
					<div class="page-header">
  						<h1> n/{{ header }} <small>total: {{ resp.len }}</small></h1>
					</div>
			
					<button id='post' class="btn btn-default">post a nudle</button>

					<div id="tmpl-bin" class="bin col-md-5 col-xs-9">
						
						<h3> Post a nudle </h3>

						<div class='col-md-4 col-xs-4'>
							<input id='pic' type='text' class="form-control" placeholder="Cover photo" />
							<input id='title' type='text' class="form-control" placeholder="Title" />
							<input id='description' type='text' class="form-control" placeholder="Description" />
						</div>
	
						<div class='col-md-8 col-xs-8'>
							<textarea id='article' class="form-control" rows='7' placeholder="article" ></textarea>
			
							<input id='tag' type="text" class="form-control col-md-4 col-xs-5" placeholder="tag" />
							<button id='add-Tag' class="btn btn-default">add</button>
							
							<span style='display: none;' id='tag-bin' class='bin col-md-5 col-xs-6'></span>
						</div>
	
						<div class="col-md-12 col-xs-12">
							<button id='bin-exit' class="btn btn-danger">exit</button>
							<button id='bin-post' class="btn btn-default">post</button>
						</div>
						
					</div>
			
				{% for bin in resp.results %}
					<div class="bin thumbnail col-md-3 col-xs-4 row">
						<img class="bin-img img-thumbnail" src='{{ bin.pic }}' />
						<div class="caption">
	    					<h3> {{ bin.title }} </h3>
	    					<blockquote>
	  							<p> {{ bin.info }} </p>
							</blockquote>
	
							<p style='float: right;' class='col-md-8 col-xs-5 row'>
	    						<a href="{{ bin['nudle-url'] }}" class="btn btn-default" role="button">read</a>
	    					</p>
	
	    					<ul class='col-md-12 col-xs-5 row'>
	    						<li id='fork' class='col-md-12 col-xs-5 row'> forks: {{ bin.forks }} </li>
								<li id='comment' class='col-md-12 col-xs-5 row'> Comments: {{ bin.comments }} </li>
							</ul>
	
	    					<div class='bin-tags col-md-12 col-xs-12'>
	        					{% for tag in bin['nudle-tags'] %}
	        						<p>
	        							<a href='/nudle/{{ tag }}'> /{{ tag }} </a>
	        						</p>
	        					{% endfor %}
	        				</div>
	  					</div>
					</div>
				{% endfor %}
					
				</div>
			</div>
			
		</div>



		<footer class="col-md-12 col-xs-12 footer">
			<p>@nudle</p>
		</footer>

		<script src="{{ url_for('static', filename='jQuery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
